<html>
<head>
  <title>Hermes TSP</title>
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="/Content/css/styles.css">
  <link href="https://fonts.googleapis.com/css?family=Cabin|Cabin+Sketch:700|Dekko|Dosis|Faster+One|Kranky|Love+Ya+Like+A+Sister|Megrim|Open+Sans|Patrick+Hand+SC|Poiret+One|Raleway|Righteous|Slackey" rel="stylesheet">
  <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/js/materialize.min.js"></script>
</head>
<body>
  <ul id="dropdown1" class="dropdown-content">
    <li><a href="/profile/@Model["customer"].GetId()/newtrip">New Trip</a></li>
    <li class="divider"></li>
    <li><a href="/profile/@Model["customer"].GetId()/trips">Past Trips</a></li>
  </ul>
  <nav>
    <div class="nav-wrapper">
      <a href="/profile/index/@Model["customer"].GetId()" class="brand-logo">Cabrador</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Trips<i class="material-icons right">arrow_drop_down</i></a></li>
        <li><a href="/profile/@Model["customer"].GetId()/dogs">Our Dogs</a></li>
        <li><a href="/profile/@Model["customer"].GetId()">Your Profile</a></li>
        <li><a href="/">Log Out</a></li>
      </ul>
    </div>
  </nav>
  <div class="row">

    <div class="col s6">
      <h4>Starting Point: @Model["trip"].GetStartPoint()</h4>
      <h4>Destination: @Model["trip"].GetDestination()</h4>
      <h4>Price: @Model["trip"].GetPrice()</h4>
      <h4>Miles: @Model["trip"].GetMiles()</h4>
      <h4>Date: @Model["trip"].GetDate()</h4>
      <h4>Dog: <a href="/profile/@Model["customer"].GetId()/dogs/@Model["dog"].GetId()"> @Model["dog"].GetName()</a></h4>
      <h4>Driver: @Model["driver"].GetName()</h4>

      <div id="waypoints"><h1>Edit waypoints</h1>
        <input id="start" value ="@Model["trip"].GetStartPoint()">
        <input id="end" value= "@Model["trip"].GetDestination()">
      </div>

      <body onload="javascript:calcRoute()">
    </div>
    <div class="col s6">

      <div id="map"></div>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC-CLyq0FM7DgF4DjKgqejE1KSxS9P0Tm8&callback=mapLoaded"
      async defer></script>
    </div>

  </div>

    <script src="/Content/js/scripts.js"></script>

</body>
</html>
